data/music/*/*
data/processed/*/*
data/processed/*
music_visualizer
default.metallib
.DS_Store
__pycache__/
.cache/
.build_cache/
report/main.aux
report/main.log
report/main.out
report/main.synctex.gz
